
<div class="table-responsive">
  <table class="table table-light table-striped table-bordered">
    <thead class="table-dark">
      <tr>
      {{range .Params.tableHead}}
            <th>{{.}}</th>
      {{end}}
    </tr>
    </thead>
    <tbody>
      {{range .Params.tableBody }}
      {{ if .column}}
      <tr>
        {{range .column}}
        <td>{{. | safeHTML}}</td>
        {{end}}
      </tr>
      {{end}}
      {{ if .button}}
      <tr class="button">
        {{range .button}}
        <td>
          {{ if .}}
          <a href="{{.}}" data-text="Buy now" class="btn btn-primary btn-sm"> Buy now</a> 
          {{end}}
        </td>
        {{end}}
      </tr>
      {{end}}
      {{end}}
    </tbody>
  </table>
</div>
  

